* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.8rem;
}

.custom-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
  padding: 8px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 50%;
}

.product-list img{
    width: 250px;
    height: 200px;
}